/* Mobie: width < 740px */
@media only screen and (max-width: 739px ) {
    .form-sapxap {
        width: 100px;
    }
}


/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 740px ) and ( max-width: 1023px) {

}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
    
}
