
/*----------------------title---------------------*/

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}





/*----------------------gì đó---------------------*/







* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-dangnhap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-dangnhap {
    width: 1000px;
    padding: 35px;
    background-color: #fff;
    border: 10px;
    /*Viền của cái khối*/
    border-color: rgb(221 58 58 / 74%);
    border-style: solid;
    margin-top: 200px;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
}


.logIn {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    transition: 0.5s;
}

    .logIn:hover {
        transition: 1s;
        font-size: 4em;
    }




.btn-submit {
    color: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
    font-size: 15px;
    width: 100%;
    height: 40px;
    max-width: 100%;
    border-radius: 5px;
    outline-style: inherit;
    outline-color: aqua;
    margin-top: 15px;
    border: 3px solid #315cfd;
    transition: all 0.3s;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

    .btn-submit:hover {
        color: white;
        font-size: 1.2em;
    }

.QuenMatKhau {
    text-align: center;
    color: #05a;
    letter-spacing: normal;
    margin-top: 10px;
}

.DangKy {
    text-align: center;
    letter-spacing: normal;
    margin-top: 10px;
    display: block;
}

body {
    background-image: url('https://wallpapers.com/images/featured/ducktales-uitqw8er78i5c44d.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    font-family: Montserrat;
}












/*----------------------button---------------------*/

/*html, body {
    height: 100%;
}*/

.wrap {
    margin-top: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100%;
    /*min-height: 60px;*/

    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 700;
    /*color: #333;*/

    background: #4FD1C5;
    background: linear-gradient(90deg, rgb(210 205 113) 0%, rgb(223 52 93) 100%);
    border: none;
    border-radius: 10px;

    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 20px;
    min-width: calc(100% + 12px);
    min-height: calc(60px + 2px);
    border: 6px solid #ebece7;
    box-shadow: 0 0 15px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 40%;
    border: 6px solid #ebece7;
    position: absolute;
}
 