.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #f01d0e;
    --color-2: #3f14cc;
    --color-3: #14cc30;
}

.title-word-2 {
    --color-1: #da12e0;
    --color-2: #da12e0;
    --color-3: #e0cf12;
}

.title-word-3 {
    --color-1: #1f1c02;
    --color-2: #127de0;
    --color-3: #127de0;
}

.title-word-4 {
    --color-1: #da12e0;
    --color-2: #da12e0;
    --color-3: #e0cf12;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}

/* Here are just some visual styles. 🖌 */

.container_title {
    place-items: center;
    text-align: center;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
}













/*-------------------------------------------------------*/
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100% );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 40px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


/*-------------------------------------------------------*/
.card{
   padding: 20px;
}



.border-title {
    height: 70px;
    /*width: 1000px;*/
    margin-top: -20px;
    background-color: #eceade;
    border-radius: 0 0  100px 100px;
}