@{
    ViewBag.Title = "Word search game - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/asset_game/style.css">
    <link rel="stylesheet" href="~/Content/asset_game/wordsearch.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
                <img src="~/Content/images/gif/gif_2.gif" alt="results" style="width:20%; position: absolute; left: -175px; top: 85px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">

                <div class="border-title">
                    <div class="container_title">
                        <h2 class="title" style="font-size: 44px;">
                            <span class="title-word title-word-1">W</span>
                            <span class="title-word title-word-2">O</span>
                            <span class="title-word title-word-3">R</span>
                            <span class="title-word title-word-4">D</span>
                            <span class="title-word title-word-1">S</span>
                            <span class="title-word title-word-2">E</span>
                            <span class="title-word title-word-3">A</span>
                            <span class="title-word title-word-4">R</span>
                            <span class="title-word title-word-3">C</span>
                            <span class="title-word title-word-4">H</span>
                        </h2>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="wrap">
                    @*<h1 class="logo">Word search game</h1>*@
                    <section id="ws-area"></section>
                    <ul class="ws-words"></ul>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Content/asset_game/utility.js"></script>
    <script src="~/Content/asset_game/wordsearch.js"></script>


    <script type="text/javascript">
        var gameAreaEl = document.getElementById('ws-area');
        var gameobj = gameAreaEl.wordSearch();

        // Đặt từ vào `.ws-words`

        var words = gameobj.settings.wordsList,
            wordsWrap = document.querySelector('.ws-words');
        for (i in words) {
            var liEl = document.createElement('li');
            liEl.setAttribute('class', 'ws-word');
            liEl.innerText = words[i];
            wordsWrap.appendChild(liEl);
        }
    </script>
</body>
</html>