
@{
    ViewBag.Title = "Trang chủ - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="~/Content/style1.css">

</head>

<style>
    body {
        background: url(/Content/images/background.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-size: 100% 100%;
    }
</style>

<body>

    @*<section class="home" id="home">
            <div class="content">
                <h1>welcome to StartEnd</h1>
                <h3>Sân chơi giáo dục</h3>
                <p>Trường StartEnd là một nơi giáo dục, dạy học tiếng anh cho các trẻ em thông qua các sân chơi bổ ích, các hình ảnh sinh động và vui vẻ. Giúp các em có thể thoải mái vui chơi hết mình trong việc vừa học vừa chơi.</p>
                <a href="#" class="btn">Xem thêm</a>
            </div>

            <div class="image">
                <img src="~/Content/images/home-img.png" alt="">
            </div>
        </section>


        <section class="features up-and-down" id="features">
            <div class="box-container">

                <h3 class="title">Lý do trẻ em thích ở trường StartEnd</h3>

                <div class="box">
                    <img src="~/Content/images/left-icon1.png" alt="">
                    <div class="info">
                        <h3>trò chuyện vui nhộn</h3>
                        <p>Các đội ngủ Staff hết mình hỗ trợ, giúp đỡ và trở thành bạn đồng hành cùng bé</p>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/left-icon2.png" alt="">
                    <div class="info">
                        <h3>Nhiều hoạt động</h3>
                        <p>Tổ chức mọi thể loại sân chơi, hoạt động bổ ích hỗ trợ vào việc học giúp các bé</p>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/left-icon3.png" alt="">
                    <div class="info">
                        <h3>Vui vẻ không ngừng</h3>
                        <p>Là nơi mang đến niềm vui, kỉ niệm tốt đẹp cho các bé</p>
                    </div>
                </div>

            </div>

            <img class="stick" src="~/Content/images/stick.png" alt="">

            <div class="box-container">

                <h3 class="title">Lý do gia đình nên chọn trường StartEnd</h3>

                <div class="box">
                    <img src="~/Content/images/right-icon1.png" alt="">
                    <div class="info">
                        <h3>Giám sát liên tục</h3>
                        <p>Đội ngũ bảo vệ tích cực làm việc, theo dõi sát sao, phong cách chuyên nghiệp góp phần tăng cao khả năng bảo vệ các bé</p>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/right-icon2.png" alt="">
                    <div class="info">
                        <h3>Giáo viên chuyên nghiệp</h3>
                        <p>Những giáo viên, tiến sĩ nổi tiếng nước ngoài mời về để dạy học, tạo điểu kiện nâng cao khả năng của các bé</p>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/right-icon3.png" alt="">
                    <div class="info">
                        <h3>Chương trình tiên tiến</h3>
                        <p>Trường chúng tôi đảm bảo 100% các bé đều được dạy, được chơi trong môi trường tiên tiến nhất</p>
                    </div>
                </div>

            </div>

        </section>

        <section class="about" id="about">

            <div class="image">
                <img src="~/Content/images/about-img.png" alt="">
            </div>

            <div class="content">
                <h3>Vài điều nên biết về StartEnd</h3>
                <p>Trường được thành lập vào ngày xx/xx/xxxx với xx huy chương và xx bằng khen thưởng hoặc các giải thưởng về giáo dục và đi theo đó các đội ngũ giáo viên chuyên nghiệp đóng góp tạo tên thành công cho StartEnd</p>
                <p>Trường StartEnd cam kết, đây sẽ là nơi vui chơi, giáo dục bật nhất thành phố. Hứa hẹn sẽ phát triển các bé trở thành nhân tài đất nước.</p>
                <a href="#" class="btn">Xem thêm</a>
            </div>

        </section>

        <section class="services up-and-down" id="services">

            <h1 class="heading"> Chúng tôi dạy những gì cho các bé </h1>

            <div class="box-container">

                <div class="box">
                    <img src="~/Content/images/s1.jpg" alt="">
                    <div class="info">
                        <h3>Dạy từ vựng và chữ cái</h3>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/s2.jpg" alt="">
                    <div class="info">
                        <h3>Đất sét và thủ công</h3>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/s3.jpg" alt="">
                    <div class="info">
                        <h3>Lớp học vẽ</h3>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/s4.jpg" alt="">
                    <div class="info">
                        <h3>Các lớp học tiếng Anh</h3>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/s5.jpg" alt="">
                    <div class="info">
                        <h3>Sân chơi cho các bé</h3>
                    </div>
                </div>

                <div class="box">
                    <img src="~/Content/images/s6.jpg" alt="">
                    <div class="info">
                        <h3>sự kiện thể thao</h3>
                    </div>
                </div>

            </div>

        </section>

        <section class="pricing up-and-down" id="pricing">

            <h1 class="heading">Kế hoạch Hoạt động</h1>

            <div class="box-container">

                <div class="box" style="background: url(~/Content/images/card-bg1.png) no-repeat; ">
                    <h3>Mỗi tuần</h3>
                    <div class="price"><span></span>Tổ chức các buổi giao lưu</div>

                </div>

                <div class="box" style="background: url(~/Content/images/card-bg2.png) no-repeat; ">
                    <span class="choise">HĐ<br> hấp dẫn nhất</span>
                    <h3>Mỗi tháng</h3>
                    <div class="price"><span></span>Tổ chức 1 buổi tham quan</div>

                </div>

                <div class="box" style="background: url(~/Content/images/card-bg3.png) no-repeat; ">
                    <h3>Mỗi năm</h3>
                    <div class="price"><span></span>Tổ chức 1 buổi dã ngoại dành cho các giáo viên và các bé</div>
                </div>

            </div>

        </section>

        <section class="contact" id="contact">

            <div class="row">

                <div class="contact-info">

                    <div class="box">
                        <h3 class="title">Chi tiết liên lạc</h3>
                        <p> <i class="fas fa-map-marker-alt"></i> VietName, TPHCM - P1Q3 Lý Thái Tổ. </p>
                        <p> <i class="fas fa-envelope"></i> duongminhhao23@gmail.com </p>
                        <p> <i class="fas fa-phone"></i> 089842xxxx </p>
                    </div>

                    <div class="box">
                        <h3 class="title">
                            Theo dõi <h3>
                                <a href="https://www.facebook.com/HaoDuong23/" class="fab fa-facebook-f"></a>
                                <a href="https://twitter.com/LittleZents" class="fab fa-twitter"></a>
                                <a href="https://www.youtube.com/watch?v=yEqEsDIN-R0" class="fab fa-youtube"></a>
                    </div>


                </div>



            </div>

            <div class="image">
                <img src="~/Content/images/contact-img.png" alt="">
            </div>

        </section>


        <script>

             let menu = document.querySelector('#menu-bars');
             let navbar = document.querySelector('.navbar');

             menu.addEventListener('click', () => {
                 menu.classList.toggle('fa-times');
                 navbar.classList.toggle('nav-toggle');
             });

             window.onscroll = () => {
                 menu.classList.remove('fa-times');
                 navbar.classList.remove('nav-toggle');
             }

        </script>*@
</body>
</html>