
@{
    ViewBag.Title = "Home - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Home - English For Kids</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/home_main/css/bootstrap.css" />


    <!-- Custom styles for this template -->
    <link href="~/Content/home_main/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/Content/home_main/css/reponsive.css" rel="stylesheet" />
</head>

<body style="font-size: 14px;">
    <div class="container">
        <audio autoplay="autoplay" controls hidden preload="auto" loop>
            <source src="~/Content/audio/phonics_song_main.mp3" type="audio/ogg">
            <source src="~/Content/audio/phonics_song_main.mp3" type="audio/mpeg">
        </audio>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
                <img src="~/Content/images/gif/phaohoa1.gif" alt="results" style="width: 20%; position: absolute; right: 20px; top: 70px;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="border-title">
                    <div class="container_title">
                        <h2 class="title" style="font-size: 50px; margin-top: 20px">
                            <span class="title-word title-word-1">H</span>
                            <span class="title-word title-word-2">O</span>
                            <span class="title-word title-word-3">M</span>
                            <span class="title-word title-word-4">E</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero_area">
        <section class=" slider_section position-relative">
            <div class="side_heading">
                <h5 class="animate-charcter" style="font-weight: 1000; font-size: 60px;">
                    N
                    h
                    a
                    t
                    .
                </h5>
                <h2 class="title" style="font-size:24px">
                    <span class="title-word title-word-1">U</span>
                    <span class="title-word title-word-2">T</span>
                    <span class="title-word title-word-3">C</span>
                    <span class="title-word title-word-4"></span>
                </h2>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-4 offset-md-1">
                        <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                    01
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                    02
                                </li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                    03
                                </li>
                                <!-- <li data-target="#carouselExampleIndicators" data-slide-to="3">
                                  04
                                </li> -->
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="img-box b-1">
                                        <img src="~/Content/home_main/img_main/resultmain3.png" alt="" style="width: 50%;" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box b-2">
                                        <img src="~/Content/images/resultmain.png" alt="" style="width: 50%;" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="img-box b-3">
                                        <img src="~/Content/images/resultmain2.png" alt="" style="width: 50%;" />
                                    </div>
                                </div>
                                <!-- <div class="carousel-item">
                                  <div class="img-box b-4">
                                    <img src="images/pentol-danc-pentol-cute.gif" alt="" />
                                  </div>
                                </div> -->
                            </div>
                            <div class="carousel_btn-box">
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-5 offset-md-1">
                        <div class="detail-box">
                            <h1 style="font-weight: 200; font-size: 60px; color: #000000; font-family: fantasy;">
                                English <span style="font-size: 30px;">For</span>
                                <span class="animate-charcter" style="font-size:260%; font-weight:500">
                                    Kids
                                </span>
                            </h1>

                            <p style="font-size: 16px;">
                                My name is Le Minh Nhat, this year I am 21 years old, a student at the University of Transport in Ho Chi Minh City. I am a full stack developer. I set up this website with the hope that you will improve your English and develop your English to compete with the powers of the five continents, I thank you for accompanying me. There are many interesting and useful courses for children from 6 to 12 years old. And it's all free, wish you all the best. If you have any questions, please feel free to contact me, thanks!
                            </p>

                            <div class="btn-box">
                                <a href="https://www.facebook.com/Nhat.sun.1005/" class="btn-1" style="font-size: 15px;">
                                    English For Kids
                                </a>
                                <a href="https://www.facebook.com/Nhat.sun.1005/" class="btn-2" style="font-size: 15px;">
                                    Contact Me
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- about section -->
    <section class="about_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2 style="font-weight: 700; font-size: 70px; color: #000000; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                Benefits of the websites
                            </h2>
                            <hr>
                        </div>
                        <p style="font-size: 16px;">
                            I created this website to help children learn English well and it's free. Many cartoon images and many new features, many English materials suitable for children's ages. Suitable for learning and playing at the same time, so parents can rest assured about the quality of the website. Good luck!
                        </p>
                        <a href="https://www.facebook.com/Nhat.sun.1005/" style="font-size: 15px;">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="col-md-6 px-0">
                    <div class="img-box">
                        <!-- <img src="images/about-img.jpg" alt=""> -->
                        <img style="height: 800px; width: 80%;" src="~/Content/home_main/img_main/pngegg (1).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- dish section -->

    <section class="dish_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="dish_container">
                        <div class="box">
                            <img src="~/Content/images/nhat1.jpg" alt="" style="background-color: brown">
                        </div>
                        <div class="box">
                            <!-- <img src="images/dish.jpg" alt=""> -->
                            <img src="~/Content/images/nhat2.jpg" alt="" style="background-color: brown">
                        </div>
                        <div class="box">
                            <img src="~/Content/images/nhat3.jpg" alt="" style="background-color: brown">
                            <!-- <img src="images/dish.jpg" alt=""> -->
                        </div>
                        <div class="box">
                            <!-- <img src="images/dish.jpg" alt=""> -->
                            <img src="~/Content/images/nhat5.jpg" alt="" style="background-color: brown">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <hr>
                            <h2 style="font-weight: 700; font-size: 57px; color: #000000; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                <span class="animate-charcter" style="font-size:90px;">
                                    HOT <br />
                                </span>
                                features?
                            </h2>
                        </div>
                        <p style="font-size: 16px;">
                            One of the hot points of this site is that you can learn a lot of vocabulary on many different topics, can read stories in both English and Vietnamese, and have audio files to help children practice listening, page sentences. Quiz helps children consolidate their knowledge after each part of learning vocabulary and reading comprehension. There are also quizzes for kids to review and translation pages, especially word recognition for objects using tensorflow machine learning technology!
                        </p>
                        <a href="https://www.facebook.com/Nhat.sun.1005/" style="font-size: 15px;">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end dish section -->
    <!-- app section -->

    <section class="app_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="img-box">
                        <img src="~/Content/home_main/img_main/pngegg (7).png" alt="">
                    </div>
                </div>
                <div class="col-md-6 offset-md-2">
                    <div class="detail-box">
                        <h2>
                            <span class="animate-charcter"> FREE </span> This website is free
                        </h2>
                        <p style="font-size: 16px;">
                            You just need to register and use. In the future I will develop on mobile and many other platforms.
                        </p>
                        <div class="btn-box">
                            <a href="https://www.facebook.com/Nhat.sun.1005/">
                                <img src="~/Content/home_main/img_main/app-store.png" alt="">
                            </a>
                            <a href="https://www.facebook.com/Nhat.sun.1005/">
                                <img src="~/Content/home_main/img_main/play-store.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end app section -->







    <script type="text/javascript" src="~/Content/home_main/js/jquery341min.js"></script>
    <script type="text/javascript" src="~/Content/home_main/js/bootstrap.js"></script>


    <!-- owl carousel script -->
    <script type="text/javascript">
        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 35,
            navText: [],
            autoplay: true,
            autoplayHoverPause: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        });
    </script>
    <!-- end owl carousel script -->

</body>

</html>