@model EnglishForKids_LMN.Models.Story
@{ ViewBag.Title = "Story Details - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    if (Session["ID_User"] == null && Session["Admin_Code"] == null)
    {
        Response.Redirect("~/Login/SignIn");
    }
    }
<style>

    .btn-noidungtiengviet {
        color: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
        font-size: 17px;
        width: 70%;
        height: 60px;
        cursor: pointer;
        border-radius: 10px;
        outline-style: inherit;
        outline-color: aqua;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #315cfd;
        transition: all 0.3s;
        font-weight: 700;
        background: #4FD1C5;
        background: linear-gradient(90deg, rgb(237 59 59) 0%, #FFC107 100%);
    }

        .btn-noidungtiengviet:hover {
            color: #fff;
            transform: translateY(-6px);
            font-size: 18px;
        }


    .img-story {
        display: inline-block;
        padding: 5px;
        border-radius: 30px;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
        margin-top: 20px;
    }

        .img-story:hover {
            transition: 2s;
            width: 100%;
        }

    .background-story-detail {


        padding: 35px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        border-style: solid;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
    }
</style>
<div class="container body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/readingbook.gif" alt="results" style="width:20%; position: absolute; left: -130px; top: 300px" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-1">S</span>
                        <span class="title-word title-word-2">T</span>
                        <span class="title-word title-word-3">O</span>
                        <span class="title-word title-word-4">R</span>
                        <span class="title-word title-word-1">Y</span>
                    </h2>
                </div>
            </div>



        </div>
    </div>
    <div class="row background-story-detail">
        <div class="row">
            <div class="col-lg-2 col-sm-1 col-xs-0">

            </div>
            <div class="col-lg-8 col-sm-10 col-xs-12">
                <div class="row">
                    <div class="text-center">
                        <img src="~/Content/images/@Model.Banner" style="width: 100%;" alt="Story Banner" class="img-story" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <h1 class="text-center animate-charcter " style="font-family:cursive; font-weight:700; width:100%">@Model.Name_Story</h1>
                </div>
                <div class="row">
                    <p>Total view: @Model.View_Story</p>
                </div>
                <div class="row">
                    <div>
                        <pre id="English_Content" style="font-size: 18px; border-radius: 15px; background-color: #FFEBCD; border: none; text-align: center; overflow-x: hidden;">
                        
                        </pre>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <button class="btn btn-primary center-block btn-noidungtiengviet bx-flashing-hover" onclick="myfunction()">Vietnamese content</button>
                </div>
                <hr />
                <div class="row">
                    <div>
                        <pre id="Vietnamese_Content" style="font-size: 18px; border-radius:15px; background-color: #FFEBCD; border: none; text-align:center; overflow-x: hidden; " hidden>

                        </pre>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <audio style="width:100%;height:50px;" controls>
                            <source src="~/Content/audio/@Model.Audio" type="audio/mp3">
                        </audio>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <div style="margin-top:20px">
                            @Html.ActionLink("Back to story page!", "User_View", "Story", new { @class = "btn btn-warning bx-fade-left-hover" })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-6">

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-1 col-xs-0">

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#English_Content").load("/Content/txt/@Model.EN_Content");
        $("#Vietnamese_Content").load("/Content/txt/@Model.VN_Content");
    });
</script>
<script>
    function myfunction() {
        if (document.getElementById("Vietnamese_Content").hidden == true) {
            document.getElementById("Vietnamese_Content").hidden = false;
        }
        else {
            document.getElementById("Vietnamese_Content").hidden = true;
        }
    }
</script>

