@model IEnumerable<EnglishForKids_LMN.Models.Category_Vo>
@{ ViewBag.Title = "Choose Image Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .layout-background-quiz {
        background-color: gray;
        border-radius: 20px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <h2 style="text-align: center; font-size: 30px; font-weight: 600;">CÂU ĐỐ HÌNH ẢNH</h2>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-lg-2 col-xs-0">

        </div>
        <div class="col-lg-8 col-xs-12 layout-background-quiz">
            @using EnglishForKids_LMN.Models;
            @{ List<Quiz_Details> quiz_Details = Session["quiz_Details"] as List<Quiz_Details>;
                int user_Code = int.Parse(Session["ID_User"].ToString()); }
            @foreach (var item in Model)
            {
                <div style="padding: 20px; background-color: black; width: 100%; max-width: 100%; border-radius: 20px; border: 2px solid #337ab7; margin-top: 20px; ">
                    <a href="/Quiz/Do_Image_Quiz/@item.ID_Category_Vo" style="color: white; text-decoration: none; text-align: center;">Câu đố: @item.Name_Category_Vo</a>
                    @foreach (var item1 in quiz_Details)
                    {
                        if (item1.ID_Category_Vo == item.ID_Category_Vo && item1.ID_User == user_Code)
                        {
                            <p class="pull-right" style="color:white;">Số điểm: @item1.Quiz_Score/10</p>
                            break;
                        }
                    }
                </div>
                <br />
            }
        </div>
        <div class="col-lg-2 col-xs-0">

        </div>
    </div>
</div>

