@model EnglishForKids_LMN.Models.Vocabulary
@{ ViewBag.Title = "Do Images Quiz - English For Kids";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .img-quiz {
        display: inline-block;
        padding: 5px;
        border-radius: 30px;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
        margin-top: 20px;
        width: 80%;
        height: 80%;
    }

/*        .img-quiz:hover {
            transition: all 1s ease-in-out .3s;
            width: 75%;
            height: 75%;
        }*/

    .background-quiz {
        padding: 35px;
        background-color: #fff;
        border: 10px; /* Viền của cái khối */
        border-color: rgb(221 58 58 / 74%);
        border-style: solid;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        box-shadow: 0 14px 28px rgb(226 17 17 / 25%), 0 10px 10px rgb(243 241 22 / 22%);
    }
</style>
<div class="container">

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/quby-cute_point.gif" alt="results" style="width:20%; position: absolute; left: -250px; top: 300px" />
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="border-title">
                <div class="container_title">
                    <h2 class="title">
                        <span class="title-word title-word-1">Q</span>
                        <span class="title-word title-word-2">U</span>
                        <span class="title-word title-word-3">I</span>
                        <span class="title-word title-word-4">Z</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row background-quiz">
        <div class="col-lg-12 col-xs-12">
            @using (Html.BeginForm("Check_Answer", "Quiz", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">CÂU ĐỐ HÌNH ẢNH</h2>*@
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        @*<div class="note-1">
                                <b>Lưu ý nhỏ:</b>
                                <p>- Tổng số câu hỏi là 5.</p>
                                <p>- Mỗi câu tưởng đương với 2 điểm.</p>
                                <p>- Tất cả những câu đố đều có trong phần từ vựng.</p>
                                <p>- Chúc các em vừa học & vừa chơi thật vui vẻ.</p>
                            </div>*@
                    </div>
                    <div class="col-lg-6 col-xs-0">
                    </div>
                </div>
                @Html.EditorFor(model => model.ID_Vocabulary, "", new { htmlAttributes = new { @class = "form-control center-block", @style = "width:100%;max-width:100%;display:none;" } })
                <div class="row">
                    <div class="col-lg-2 col-xs-0">
                        @*<div class="note-2">
                                <b>Lưu ý nhỏ:</b>
                                <p>- Tổng số câu hỏi là 5.</p>
                                <p>- Mỗi câu tưởng đương với 2 điểm.</p>
                                <p>- Tất cả những câu đố đều có trong phần từ vựng.</p>
                                <p>- Chúc các em vừa học & vừa chơi thật vui vẻ.</p>
                            </div>*@
                    </div>
                    <div class="col-lg-8 col-xs-12">
                        <div style="text-align: center;">
                            <img src="~/Content/images/@Model.Image_Vocabulary" alt="Vocabulary Image" class="img-quiz" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-0">

                    </div>
                </div>
                <br />
                <div class="pull-right">
                    <font style="padding:10px;background-color:lightgray;border-radius:16px;">@Session["Image_Quiz_Index"] / @Session["Count_Image_Quiz_List"]</font>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-2 col-xs-0">

                    </div>
                    <div class="col-lg-8 col-xs-12">
                        <div class="row text-center">
                            <b>Your answer: </b>
                            @*<input type="text" id="answer" name="answer" class="form-control cau-tra-loi" style="display: inline-block ;  width:50%;" placeholder="Please enter your answer ..." maxlength="30" data-val="true" data-val-required=" Please enter your answer " autofocus />*@
                            <input type="text" id="answer" name="answer" class="form-control cau-tra-loi" style="display: inline-block ;  width:50%;" placeholder="Please enter your answer ..." minlength="1" maxlength="20" data-val="true" required autofocus />
                            <input type="submit" value="->" class="btn btn-primary bx-fade-right" />
                        </div>
                    </div>
                    <div class="col-lg-2 col-xs-0">

                    </div>
                </div>
            }
        </div>
    </div>
</div>

