@model EnglishForKids_LMN.Models.Google
@{ ViewBag.Title = "Translate - English For Kids";
    if (Session["ID_User"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    //if (Session["ID_Admin"] != null)
    if (Session["Admin_Code"] != null)

    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    }
<style>
    .btn-hoandoingonngu {
        color: #fff;
        box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
        font-size: 20px;
        width: 400px;
        height: 60px;
        cursor: pointer;
        border-radius: 10px;
        outline-style: inherit;
        outline-color: aqua;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 3px solid #315cfd;
        transition: all 0.3s;
        font-weight: 700;
        background: #4FD1C5;
        background: linear-gradient(90deg, rgb(210 205 113) 0%, rgb(223 52 93) 100%);
    }

        .btn-hoandoingonngu:hover {
            color: #fff;
            transform: translateY(-6px);
            font-size: 18px;
        }
</style>


@*MAIN google dịch CHÍNH*@
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/quby-cute.gif" alt="results" style="width:15%; position: absolute; left: -250px; top: 50px" />
        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12" style="position:relative;">
            <img src="~/Content/images/gif/pentol-danc-pentol-cute.gif" alt="results" style="width:15%; position: absolute; right: 500px; top: 540px" />
        </div>
    </div>*@
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @*<h2 style="text-align: center; font-size: 30px; font-weight: 600;">DỊCH THUẬT</h2>*@

            <div class="border-title">
                <div class="container_title">
                    <h2 class="title" style="font-size: 40px;">
                        <span class="title-word title-word-1">T</span>
                        <span class="title-word title-word-2">R</span>
                        <span class="title-word title-word-3">A</span>
                        <span class="title-word title-word-4">N</span>
                        <span class="title-word title-word-1">S</span>
                        <span class="title-word title-word-2">L</span>
                        <span class="title-word title-word-3">A</span>
                        <span class="title-word title-word-4">T</span>
                        <span class="title-word title-word-1">E</span>

                    </h2>
                </div>
            </div>



        </div>
    </div>
    <br />
    <br />
    <br />
    <hr />
    @using (Html.BeginForm("GoogleTranslate", "GoogleTranslate", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-6 col-sm-8 col-xs-12">
                <label for="language">
                    Please select language:
                </label>
                <select name="checklanguage" id="checklanguage" class="form-control" style="display: inline-block;">
                    @if (Session["checklanguage"].ToString() == "english")
                    {
                        <option value="english" selected>English -> Tiếng Việt</option>
                        <option value="vietnam">Tiếng Việt -> English</option>

                    }
                    else
                    {
                        <option value="english">English -> Tiếng Việt</option>
                        <option value="vietnam" selected>Tiếng Việt -> English</option>
                    }
                </select>
            </div>
            <div class="col-lg-6 col-sm-4 col-xs-0">

            </div>
        </div>
        <br />
        <hr />
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <div>
                    <textarea name="content" id="content" placeholder="..." class="form-control center-block" required style="width:100%; height:300px">@Model.content</textarea>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
                @*<input type="submit" value="Hoán đổi ngôn ngữ" class="btn-primary btn-hoandoingonngu" />*@

                <input type="submit" value="Language swap" class="btn btn-primary center-block btn-hoandoingonngu bx-flashing-hover" style="width: 80%;" />


            </div>
            <div class="col-lg-4 col-sm-12 col-xs-12">
                <div>
                    <textarea placeholder="Translation ..." class="form-control center-block" style="width:100%; height:300px; cursor: default ; position:relative" readonly>@Session["translate"].ToString()</textarea>
                </div>
                <a href="/GoogleTranslate/Speech" class="btn btn-warning btn-voice" style=" width: 70px; padding:10px; position: absolute;">Voice</a>
            </div>
            @*@Html.ActionLink("Voice", "Speech", "GoogleTranslate", new { @class = "btn btn-default", @style = "width:70px" })*@
        </div>
    }



</div>
<br/>
<br />
<br />